  @import url('https://fonts.googleapis.com/css2?family=Labrada:wght@200&family=Merriweather&family=Montserrat&family=PT+Sans&family=Poppins:wght@300;400;500;600;700&family=Sacramento&family=Shantell+Sans:wght@300&display=swap');
/* Google Font Import - Poppins */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color: #9289f1;

    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-02);
}

body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}
/* reusable css */

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap; /* hjhj */
    opacity: 1;
}
.sidebar .image{
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width:250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}
.sidebar.close{
    width: 88px;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar header{
    position: relative;
}
.sidebar .image_text img{
    width: 40px;
    border-radius:6px ;
}
.sidebar header .image_text{
    display: flex;
    align-items: center;
}
.sidebar header .logo_text{
 display: flex;
 align-items: center;
}
 
header .image_text .header_text{
    display:flex;
    flex-direction: column;
}
.header_text .name{
 font-weight:600; 
 font-size: 3vh; 
}
.header_text .work{
    margin-top: -2px;
    font-size: 1.4vh;
    width:fit-content
}
.sidebar header .toggle{
    position: absolute;
    top:50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width:25px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color );
    font-size: 22px;
    transition: var(--tran-05);
}
.sidebar.close header .toggle{
    transform: translateY(-50%);
}
body.dark .sidebar header .toggle{
    transform: rotate(360deg);
    color: var(--text-color);
}
.sidebar li{
    height:50px;
    position: relative;
    /* background-color: red; */
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    min-width: 60px;
}
.sidebar li .icon,.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}
.sidebar li a{
    height:100%;
    width: 100% ;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}
.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,.sidebar li a:hover .text{
    color:var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,body.dark .sidebar li a:hover .text{
    color:var(--text-color);
}

.sidebar ul li .tooltip{
    position: absolute;
    left:80px;
    top:0;
    height: 35px;
    transform: translateY(-50%);
    border-radius: 6px;
    width: 122px;
    line-height: 35px;
    text-align: center;
    background-color: var(--text-color);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 0s;
    opacity:0;
    pointer-events:none;
}
.sidebar.close ul li:hover .tooltip{
    top:50%;
    opacity:1 ;
    transition: var(--tran-05);
}
.sidebar .menu_bar{
    height:calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar .menu{
    margin-top: 35px;
}
.menu_bar .mode{
    position: relative;
    border-radius: 6px;
    background-color: var(--primary-color-light);
}
.menu_bar .mode .sun_moon{
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}
.menu_bar .mode .sun_moon .sun{
   opacity: 0;
}

body.dark .menu_bar .mode .sun{
    opacity: 1;
}
body.dark .menu_bar .mode .moon{
    opacity: 0;
}

.menu_bar .mode .toggle_switch{
    position: absolute;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    border-radius: 6px;
    min-width: 60px;
    background-color: var(--primary-color-light);
    transition: var(--tran-04);
}
.toggle_switch .switch{
    position: relative;
    height:22px;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    cursor: pointer;
}
.menu_bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}
.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width:15px;
    border-radius: 50%;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left:25px;
}

.home{
    position: absolute;
    top:0;
    left:250px;
    height:50vh;
    width: calc(50% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home{
    position: absolute;
    top:0;
    left: 250px;
    background-color: var(--body-color);   
    height:100vh;
    width: calc(75% - 250px);
    transition: var(--tran-05);
}
.home h1{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}
.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(75% - 78px);
}
/* .select_id label{
    color:#CCC;
} */
.select_algo{
    color: var(--text-color);
}
.select_id select {
    width: 185%;
    padding: 12px 20px;
    margin: 8px -10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color:black;
  }
  optgroup{
    font-style: normal;
    background-color: #fff;
  }
  /* Style the option group */
  .select_id optgroup {
    font-weight: 500;
    color: #18191A;
  }
  /* Style the options */
  .select_id optgroup option {
    font-weight: 500;
    color:black;
    font-size: 2vh;
  }
  /* Style the selected option */
  .select_id select option:checked {
    background-color: #ddd;
  }
  
/* ==================== section part ==========================*/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1678526355 svg {
        width: calc(184% + 1.3px);
        height: 259px;
    }
}